Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-non-private-member-variables-in-classes